### NOTE(1) - PYTHON BASICS

##### PYTHON
###### Flexible Programming Language
###### Designed to be Human Readable
###### Great Smarter Language
###### Great Advanced Language
###### Wonderful Community

The IT industry is booming with Data science applications using,

Artificial intelligence,
Deep learning and
Machine learning algorithms.

Q: What is Python?
A: Python is a programming language. It allows you to control the computer. The benefits of Pythons are that it is simple and easy, portable, extensible.

Guido van Rossum named this programming language inspired by the show of Monty Python‚Äôs Flying Circus from an English comedy group called The Monty Python.

Surrounding the expression with triple quotes: """...""" or '''...''' ensures that the code returns no error, especially in long texts.

In [1]:
# NOT SUITABLE (PEP8) 
print ("deneme")

a=(1,2,3,4)
print(a)
for i in a:
    print(1+i,end="")
b='''
sen bana bakma
ben senin
baktƒ±ƒüƒ±n y√∂nde 
olurum.
'''
print(b)

deneme
(1, 2, 3, 4)
2345
sen bana bakma
ben senin
baktƒ±ƒüƒ±n y√∂nde
olurum.

In [2]:
# SUITABLE (PEP8) 
print("deneme")

a = (1, 2, 3, 4)
print(a)
for i in a:
    print(1 + i, end = "")
b = '''
sen bana bakma
ben senin
baktƒ±ƒüƒ±n y√∂nde
olurum.
'''
print(b)

deneme
(1, 2, 3, 4)
2345
sen bana bakma
ben senin
baktƒ±ƒüƒ±n y√∂nde
olurum.

üí°Tips:
If you have noticed we used üëâüèª. not üëâüèª, for the decimal number: 3.14.
Surrounding the expression with quotes makes it in string type. We will see immutable types (int, string, tuple, etc.) in the next lessons.

In [3]:
print('no pain')
print('no gain')
print(3.14)

no pain
no gain
3.14

In [4]:
print('first line')
print()  # second line is empty
print('third line')

first line

third line

Q: What is PEP 8?
A: PEP stands for Python Enhancement Proposal. PEP 8 is a coding convention, a set of recommendation, about how to write your Python code more readable. In other words, PEP 8 is a document that gives coding conventions for the Python code comprising the standard library in the main Python distribution.

PEP 8 is some kind of document which covers traditional rules of good coding conventions.

YES : if y == 3: print x, y; x, y = y, x , NO : if y == 3 : print x , y ; x , y = y , x

PEP 8 CHECK
http://pep8online.com/

üí°Tips:
To begin with, after üëâüèª # there should be one space, and in the inline comments, there should be at least two spaces between the end of the code and üëâüèª #.
A comment is not a piece of code. It should be short. It's better to split a long comment into multiple lines. You have to add üëâüèª # at the beginning of each new line.

‚ö†Ô∏èAvoid ! :
More comments don't necessarily need to be better. If code is self-explanatory, comments are unnecessary.
Do not make unnecessary comments. Usually, comments should answer the question why as opposed to what.
When necessary, update your comment. Be sure that your comments will not be in contradiction to the code.

In [5]:
print("it's not easy to write true code")  # kolay kolay kolay

it's not easy to write true code

In [7]:
# list.append("utf8")  #adds a new element into a list

In [8]:
def function(): # We use 'def()' to create a function. 
               
    """
Hi, I am the docstring of this code. 
If you need any information about this function or module, read me. 
It can help you understand how the module or function works.
    """
print(function.__doc__)

Hi, I am the docstring of this code.
If you need any information about this function or module, read me.
It can help you understand how the module or function works.

In [9]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [10]:
# Use comment for debbugging and documenting. Let's make a habit.

üí°Tips:
Remember, a nice and meaningful naming of variables is a skill that can be gained over time. Of course, you also need to be familiar with PEP 8 traditional rules.

In [11]:
x_y_z = 1_234_567
x_y_z

1234567

In [12]:
x, y, z = 1, 234, 567
x

1

In [13]:
print('user_gender = "Male"')

user_gender = "Male"

üí°Tips:
Note that, we assign value to a variable using üëâ =

DATA TYPES:

String,

Signed Integer,

Floating Point,

Complex,

Boolean.

In [14]:
text1 = "I have learned strings"  # surrounded with double quotes
print(text1)

I have learned strings

üí°Tips:
71 and 71.0 have the same numerical value. But they differ in terms of numeric type. The types of these numbers are int and float respectively.

Q: What are the numerical data types in Python and their properties?

A:
Integers : they are whole numbers (positive, negative or zero), including no decimal point.
Floats : they stand for real numbers with a decimal point.
Complexes : they are written in the form, x + yj , where x is the real part and y is the imaginary part.


Q: Describe the Boolean types in detail.
A: Boolean types are called bool and their values are the two constant objects True and False. They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

Bools are important data types that are widely used in Python as they can find use in every aspect of our daily lives. For example, imagine, whether the TV is turned on or off in your home or if the weather is rainy can be explained easily with bools.

In [15]:
str() # converts to string type
int() # converts to signed integer type
float() # converts to floating point type

0.0

In [16]:
example1 = 'sometimes what you say is less important than how you say it'
print(type(example1))

<class 'str'>

üí°Tips:
Note that we write the first letter of True in uppercase. This is the rule of Python that we must write like this : True, False.

In [17]:
i = 3 # variable name = value

f = float(i)
print(f, '\n')
print(type(f))

3.0

<class 'float'>

In [18]:
x = 39
v = "11"
y = "2.5"
z = "I am at_"

print(x-int(v))
print(x-float(y))
print(z+str(x))

28
36.5
I am at_39

üí°Tips:
Note that, it is important that the value of any type in Python can be converted to a string.

Q: What are the 'type conversion' and basic methods of that in Python?
A: Type conversion refers to the conversion of one data type into another.

int() ‚Äì converts some data types into integer type.

float() ‚Äì converts some data types into float type.

str() ‚Äì converts any data type into string type.

In [19]:
color = 'red'  # str type variable
season = 'summer'
price = 250  # int type variable
pi = 3.14  # float type variable
color = 'blue'  # You can always assign a new value to a created variable
price = 100  # value of 'price' is changed
season = 'winter'  

print(color, price, season, sep=', ') # Note that, the last value assigned to a variable is valid.

blue, 100, winter

In [20]:
a = 5
b = 55
c = 555
c = a
b = c
a = b

print(a, b, c, sep = ', ')

5, 5, 5

‚ö†Ô∏èAvoid ! :
Note that, If you use undefined name of a variable in the code you write, you will get an 'NameError' message.

And operator : The and operator evaluates all expressions and returns the last expression if all expressions are evaluated True. Otherwise, it returns the Ô¨Årst value that evaluated False.

Or operator : The or operator evaluates the expressions left to right and returns the Ô¨Årst value that evaluated True or the last value (if none is True).

In [21]:
logic = True and False or not False or False
print(logic)

True

üí°Tips:Note that and and or return one of its operands, not necessarily a bool type. But not always returns bool type.

Q: What is the order of priority of the logical operators?
A:

not
and
or

None.
Zero of any numeric type: 0, 0.0, 0j
Empty sequences and collections: '', [], {}.
Other than above values, any remaining value is evaluated as True.

In [22]:
print(3 and 2)
print(2 and 3)
print(2 or 3)
print(3 or 2)

2
3
2
3

In [23]:
print(2 and 3)

3

Q: What are the values evaluated to False when applied to a Boolean operator?
A:

None and False.
Zero of any numeric type: 0, 0.0, 0j.
Empty sequences and collections: '', [], {}.
Any remaining value is evaluated as True.

In [24]:
fruit = 'Orange'

print('Word                   : ' , fruit)
print('First letter           : ' , fruit[0])
print('Second letter          : ' , fruit[1])
print("3rd to 5th letters     : " , fruit[2:5])
print("Letter all after 3rd   : " , fruit[2:])

Word                   :  Orange
First letter           :  O
Second letter          :  r
3rd to 5th letters     :  ang
Letter all after 3rd   :  ange

In [26]:
city = 'Phoenix'

print(city[1:])  # starts from index 1 to the end
print(city[:6])  # starts from zero to 5th index
print(city[::2])  # starts from zero to end by 2 step
print(city[1::2])  # starts from index 1 to the end by 2 step
print(city[-3:])  # starts from index -3 to the end
print(city[::-1])  # negative step starts from the end to zero

hoenix
Phoeni
Ponx
hei
nix
xineohP

In [27]:
vegetable = 'Tomato'

print('length of the word', vegetable, 'is :', len(vegetable))

length of the word Tomato is : 6

In [28]:
fruit = 'Orange'
vegetable = 'Tomato'
print("using + :", fruit + vegetable)
print("using * :", 3 * fruit)

using + : OrangeTomato
using * : OrangeOrangeOrange

 There are several ways in Python that we use when processing and using string data structures. What are the most important of these:
A:

Arithmetic syntax (+, * and =),
% operator formatting,
string.format() method,
f-string formatting.

In [29]:
phrase = 'I have %d %s and %.2f brothers' % (4, "children", 5)  
print (phrase)

I have 4 children and 5.00 brothers

In [30]:
a = 5 + 2.5 # integer + float = float
type(a)

float

üí°Tips:
In the '%s' syntax : s stands for 'string'.
In the '%.2f' syntax : f stands for 'float'. In this example 2 digits after point.
In the '%d' syntax : d stands for 'numeric'.

In [31]:
print('%(amount)d pounds of %(fruit)s left' % {'amount': 33, 'fruit':'bananas'})

33 pounds of bananas left

In [32]:
x = "HelloWorld!"

In [33]:
print('%.5s' % x)

Hello

In [34]:
sentence = "apologizingis a virtue"

print("%.11s" % sentence)  # we get first 11 characters of the string

apologizing

In [35]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 4
print('The amount of {} we bought is {} pounds'.format(fruit, amount))

The amount of Orange we bought is 4 pounds

In [36]:
print('{state} is the most {adjective} state of the {country}'.format(state='California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [37]:
print('{0} is the most {adjective} state of the {country}'.format('California', country='USA', adjective='crowded'))

California is the most crowded state of the USA

In [38]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [39]:
print("{9} {7} {1} {10} {3} {2} {5} {8} {6} {0} {4}".format('in', 'know', 'bring', 'to', 'students.', 'out', 'best', 'teachers', 'the', 'Good', 'how'))

Good teachers know how to bring out the best in students.

In [40]:
fruit = 'Orange'
vegetable = 'Tomato'
amount = 6
output = f"The amount of {fruit} and {vegetable} we bought are totally {amount} pounds"

print(output)

The amount of Orange and Tomato we bought are totally 6 pounds

In [41]:
my_name = 'JOSEPH'
output = f"My name is {my_name.capitalize()}"

print(output)

My name is Joseph

In [42]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = (f"Hi {name}. "  f"You are one of the {job} " f"in the {domain} section."
)
print(message)

Hi Joseph. You are one of the teachers in the Data Science section.

In [43]:
name = "Joseph"
job = "teachers"
domain = "Data Science"
message = f"Hi {name}. " \
     f"You are one of the {job} " \
     f"in the {domain} section."
print(message)
# Q: 'f-string formatting' lines without parentheses?
# A: You can use backslashes \ between f-lines.

Hi Joseph. You are one of the teachers in the Data Science section.

\n : means new line,

\t : means tab mark,

\b : means backspace. It moves the cursor one character to the left.

Look at these examples carefully:

In [44]:
print("one", "two", "three", sep = "\t") # separated by tab marks

one	two	three

In [45]:
print('we', '\bare', '\bunited') # remember, normally print() function
# separates expressions by spaces

weareunited

In [46]:
print('it\'s funny to learn Python')

it's funny to learn Python

In [47]:
print (type('hello'), type(3.14), type (74), sep='\n')

<class 'str'>
<class 'float'>
<class 'int'>

In [48]:
print('C:\\november\\number_expenditure.txt')

C:\november\number_expenditure.txt

‚ö†Ô∏èAvoid ! :
Be careful, when using üëâüèª\ in the long string. It may cause error because of its functionality described above. Using üëâüèª\\ guarantees no error.

In [49]:
print('it', '')

it

In [50]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [51]:
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

In [52]:
print(input.__doc__)

Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

In [53]:
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

In [54]:
planet = ("jupyter", "saturn", "neptun")
astroid = (143, 144, 145)
stars = (1, 2 , 3)
print (planet, astroid, stars, sep='+++')

('jupyter', 'saturn', 'neptun')+++(143, 144, 145)+++(1, 2, 3)

In [55]:
text = 'www.clway.com'
print(text.endswith('.com'))
print(text.startswith('http:'))

True
False

In [56]:
email = "clarusway@clarusway.com is my e-mailS address"
print(email.startswith("@", 9))
print(email.endswith("-", 10, 32))

True
True

In [57]:
print(email.endswith("-", 13))
print(email.startswith("-", 31))
email[32]

False
True

'm'

In [58]:
len(email)

45

In [60]:
phrase = "myemailaddress@clarusway.com"
print(len(phrase))
print(phrase.startswith("@", 14))
print(phrase.endswith(".", 15, 25))

28
True
True

In [61]:
sentence = "I live and work in Virginia"

print(sentence.upper())  

print(sentence.lower())

print(sentence.swapcase())

print(sentence)  # note that, source text is unchanged

I LIVE AND WORK IN VIRGINIA
i live and work in virginia
i LIVE AND WORK IN vIRGINIA
I live and work in Virginia

In [62]:
sentence = "I live and work in Virginia"
title_sentence = sentence.title() 
print(title_sentence)  

changed_sentence = sentence.replace("i", "+")
print(changed_sentence)  

print(sentence)  # note that, again source text is unchanged

I Live And Work In Virginia
I l+ve and work +n V+rg+n+a
I live and work in Virginia

In [63]:
sentence = "I live and work in Virginia"
swap_case = sentence.swapcase()
print(swap_case)
print(swap_case.capitalize())  # changes 'i' to uppercase and
# the rest to lowercase

i LIVE AND WORK IN vIRGINIA
I live and work in virginia

In [64]:
space_string = "     listen first      "
print(space_string.strip())  # removes all spaces from both sides

listen first

In [65]:
source_string = "interoperability"
print(source_string.strip("yi"))  
# removes trailing "y" or "i" or "yi" or "iy" from both sides
source_strings = "interoperabilitys"
print(source_strings.strip("yi"))  
# removes trailing "y" or "i" or "yi" or "iy" from both sides
sources_strings = "interoperability"
print(sources_strings.strip("tyi"))  
# removes trailing "y" or "i" or "yi" or "iy" from both sides

nteroperabilit
nteroperabilitys
nteroperabil

In [66]:
path = 'science'
print(path[4:])

nce

In [67]:
print('www', 'clsway', "com", sep='.', end=' ')
print('will', end=' ')
print('open', end=' ')
print('your', end=' ')
print('path', end='.')

www.clsway.com will open your path.

In [68]:
print("clsway" + str(2020))

clsway2020

In [69]:
x = 12
y = x + 21
x = 2
print(y//x)
y
x

16

2

In [73]:
print("{3} {2} {4} {1} {0}".format('job.', 'a', 'will', 'I', 'find'))

I will find a job.

In [71]:
print("{4} {9} {1} {7} {5} {0} {6} {8} {3} {2}".format('while', 'dream', 'work.', 'and', 'Some', 'success', 'others', 'of', 'wake up', 'people'))

Some people dream of success while others wake up and work.

In [74]:
section_3_5 = "python data types and useful operations"
print(section_3_5.title())

Python Data Types And Useful Operations

In [75]:
var1 = "sleep"
var2 = "eat"
var3 = "better"
var4 = "life"
sentence = f"The less you {var1} and {var2}, the {var3} your {var4} will be."
print(sentence)

The less you sleep and eat, the better your life will be.

In [76]:
age = 40
text = f"I am {age} years old."
print(text)

I am 40 years old.

In [77]:
city = "SARAJEVO"
sentence = f"I live in {city.capitalize()}."
print(sentence)

I live in Sarajevo.

In [78]:
x = "HelloWorld!"
print('%.5s' % x)

Hello

In [79]:
january = march = may = july = august =october = december =31
february = 28
april = june = september = november = 30
print(january, february, march, april, may, june, july, august, september, october, november, december)

31 28 31 30 31 30 31 31 30 31 30 31

In [81]:
40.0 == 40

True

In [82]:
round(3.74)

4

In [83]:
print(10)

print(13)

10
13

If you had deposited a coin on the cryptocurrency exchange that brought 7% fixed profit daily for a week, how much would your $ 1000 reach at the end of the 7th day?

In [85]:
capital = 1000  # principal amount in dollars
inv_period = 7  # investment_period
rate = 1.07  # daily fixed profit
result = capital * (rate ** inv_period)

text = """"An investment of ${} at the beginning of the week will reach 
$ {:.2f} at the end of the week with a daily rate of {} %."""

print(text.format(capital, result, rate))

"An investment of $1000 at the beginning of the week will reach
$ 1605.78 at the end of the week with a daily rate of 1.07 %.

In [86]:
print("3\\2=1.5")

3\2=1.5

In [87]:
text = "Clsway, Clsway, Clsway"

print(text, "\t"+text, "\t\t"+text, sep="\n")

Clsway, Clsway, Clsway
	Clsway, Clsway, Clsway
		Clsway, Clsway, Clsway

In [88]:
text = "Clsway, Clsway, Clsway"

print(text+",", "\t"+text+",", "\t\t"+text, sep="\n")

Clsway, Clsway, Clsway,
	Clsway, Clsway, Clsway,
		Clsway, Clsway, Clsway

In [89]:
def maas_hesapla():
    hafta_ucret=200 # haftalƒ±k √ºcreti 200 dolar
    hafta_saat=int(input("Mary hanƒ±m bu hafta ka√ß saat √ßalƒ±≈ütƒ±= ")) # Mary hanƒ±m bu hafta ka√ß saat √ßalƒ±≈ütƒ± giriniz.
    if hafta_saat<40: # eƒüer bu hafta izin kullanƒ±p 40 saatten az √ßalƒ±≈ütƒ±ysa 50 dolar eksik alƒ±r.
        print(hafta_ucret-50)
    elif hafta_saat == 40: # eƒüer bu hafta 40 saat √ßalƒ±≈ütƒ±ysa normal haftalƒ±k √ºcreti alƒ±r.
        print(hafta_ucret)
    elif hafta_saat > 40:  # eƒüer 40 saatten fazla √ßalƒ±≈ütƒ±ysa, √ßalƒ±≈ütƒ±ƒüƒ± 40 saat sonrasƒ± i√ßin saat ba≈üƒ± 15 dolar fazla alƒ±r.
        for i in range(41,hafta_saat+1):
            i+=15
        print(i+hafta_ucret)
    elif hafta_saat>=100:
        print("ƒ∞≈ületmeniz su i≈ülemektedir. Bir √ßalƒ±≈üan bu kadar √ßalƒ±≈ütƒ±rƒ±lamaz")

In [94]:
"1" or "d"

'1'

In [95]:
"d" or "1"

'd'

In [96]:
0 or "sad"

'sad'

In [97]:
not "false"

False

In [98]:
"sss" and False or False

False

In [99]:
not "sa"

False

In [100]:
o = "orange"
o[4:1:-1]

'gna'

In [101]:
o[-2:-5:-1]

'gna'

In [102]:
o[::2]

'oag'

In [103]:
o[4:1]

''

In [104]:
print(* "upper" )

u p p e r

In [105]:
print("upper" *3)

upperupperupper

In [106]:
print(*"upper",sep="-")

u-p-p-e-r

In [108]:
asa="asa"
sas="sas"

In [111]:
# print("2222 {-1} 33333 {-2}".format(asa, sas)) # ERROR Negative value is not work on it.

KeyError: '-1'

In [112]:
f."2222 {asa} 33333 {sas}"

SyntaxError: invalid syntax (<ipython-input-112-06a833a42aed>, line 1)

In [115]:
a = "qqqqq"
b = "ooooo"
name = (
    f"fatih {a} \n"\
    f"mehmet{b}fatih"\
    f"fatih {a} \n"
)
print(name)

fatih qqqqq
mehmetooooofatihfatih qqqqq

In [116]:
name = "Susan"
age = "young"
gender = "lady"
school = "CLRWY IT university"
 
text =  (f"{name} is a {age} "
        f"{gender} and she is a student "
        f"at the {school}."
        )
print(text)

Susan is a young lady and she is a student at the CLRWY IT university.

In [117]:
print(name.startswith("Su"))
print(school.endswith("ol"))

True
False

### mehmetfatihdata