In [1]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [2]:
liste1 = list("ahmet")
liste1

['a', 'h', 'm', 'e', 't']

In [3]:
liste2 = ["ahmet"]
liste2

['ahmet']

In [4]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')

print(city)

['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [5]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [6]:
city[0] = ""
city

['', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [7]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()  # lists the items in alphabetical order
print(city)

['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [8]:
city = ['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
print(len(city))

6

In [9]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [11]:
city.index("Istanbul", 1, 10)

1

In [14]:
del(city[0])
city

['Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [15]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', ("Istanbul, Ankara"),'Addis Ababa']
city

['New York',
 'Stockholm',
 'Istanbul',
 'Seoul',
 'Sydney',
 'Istanbul, Ankara',
 'Addis Ababa']

In [16]:
city.pop()
city

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Istanbul, Ankara']

In [17]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city_list = []
city_list.append(city) # we have created a nested list

print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [18]:
city_list[0]

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [19]:
city_list[0][2]

'Istanbul'

In [20]:
city_list[0][2][3]

'a'

In [21]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [22]:
b = list(range(11))

In [23]:
a = [range(11)]

In [24]:
a[0][2]

2

In [25]:
a

[range(0, 11)]

In [26]:
b[::2]

[0, 2, 4, 6, 8, 10]

In [27]:
print(len([[12, 34, 56]]))

1

In [28]:
print(len([["ahmet", 12, 34, 56]]))

1

In [29]:
x = ["ahmet"]
len(x)

1

In [28]:
example = "snow world"
print("%s" % example[4:7])

 wo

In [30]:
print(chr(ord('b')+1))

c

In [31]:
chr(97)

'a'

In [32]:
ord("+")

43

In [33]:
print(format("Welcome", "10s"), end = '#')
print(format(111, "4d"), end = '#')
print(format(924.656, "13.2f"))

Welcome   # 111#       924.66

In [34]:
print(format(111, "10"), end = '#')

       111#

In [35]:
print(format(924.656, "13.2f"))

       924.66

In [36]:
print('*', "abcdef".center(71), '*')

*                                  abcdef                                 *

In [37]:
print("xyyzxyzxzxyy".count("yy",1))

2

In [38]:
print("xyyzxyzxzxyy".endswith("xyy", 0, 2))

False

In [39]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [40]:
my_tuple

(1, 4, 3, 4, 5, 6, 7, 4)

In [41]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(7)

print(x)

2

In [42]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(7)

print(x)

2

In [44]:
liste = list(range(1,10))
my_list = liste[::-1]
print(my_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
# A function that returns the length of the value:
def myFunc(e):
      return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)
cars

['Mitsubishi', 'Ford', 'BMW', 'VW']

In [50]:
cars = ['Ford', 'BMW', 'Volvo']

sortede = cars.sort(reverse=True)
sortede

In [51]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)

print(cars)

['Volvo', 'Ford', 'BMW']

In [52]:
sayı = list(range(1,11))
sayı.sort(reverse=True)
print(sayı)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [54]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(
    flowers[0][2],flowers[0][1][1],colors[1][0],colors[1][1][1]
)
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [56]:
txt = "abckr trşuyışıçhl yşrpofok fçllgotıkf. dkefglşrşg"
txt1 = txt.split(" ")
for i in txt1:
      print(i.capitalize()+". ", end=" ")

Abckr.  Trşuyışıçhl.  Yşrpofok.  Fçllgotıkf..  Dkefglşrşg.

In [57]:
txt = "abckr trşuyışıçhl yşrpofok fçllgotıkf. dkefglşrşg"
txt1 = txt.split(" ")
txt1

['abckr', 'trşuyışıçhl', 'yşrpofok', 'fçllgotıkf.', 'dkefglşrşg']

In [58]:
txt.strip("abckr")

' trşuyışıçhl yşrpofok fçllgotıkf. dkefglşrşg'

In [59]:
t = 'abcd12312313abcd'
print(t.strip('123'))
print(t.strip('abcd'))

abcd12312313abcd
12312313

In [60]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [21]:
state_capitals = {'Arkansas': 'Little Rock'}
state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Virginia': 'Richmond'}

In [24]:
state_capitals = {'Arkansas': 'Little Rock'}
state_capitals.update({'Virginia' : 'Richmond'}) # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Virginia': 'Richmond'}

In [25]:
state_capitals = {'Arkansas': 'Little Rock'}
state_capitals.update({'Virginia' : 'California'}) # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Virginia': 'California'}

In [28]:
state_capitals = {'Arkansas': 'Little Rock'}
state_capitals.update({'Virginia' : 'Richmond'}) # adding a new item

del (state_capitals["Arkansas"])
(state_capitals["Richmond"])
print(state_capitals)

KeyError: 'Richmond'

In [31]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,}

print('pi' in dict_by_dict) 
print(40 not in dict_by_dict)
print('number' not in dict_by_dict)

True
True
False

In [32]:
print(dict_by_dict["planet"])

neptun

In [33]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

{'rose', 'orchid', 'violet', 'carnation'}
['rose', 'orchid', 'violet', 'carnation']

In [3]:
print(0xD + 0xB + 0xC)
OxA

36

NameError: name 'OxA' is not defined

In [18]:
print(r"hello/n")

hello/n

In [14]:
print("new" "line")

newline

In [15]:
print("new" "line" "end" 3)

SyntaxError: invalid syntax (<ipython-input-15-693762d2e4e6>, line 1)

In [20]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flower_list[1:] = ['rose']

flower_list

['rose', 'rose']

In [22]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flower_list[1:] = 'rose'

flower_list

['rose', 'r', 'o', 's', 'e']

In [4]:
first_dict = {1: "one", "two" :2, False : [1, 2, 3]}

In [5]:
first_dict

{1: 'one', 'two': 2, False: [1, 2, 3]}

In [9]:
first_dict["two"]

2

In [10]:
first_dict [2]

KeyError: 2

In [12]:
second {[1, 2, 3] : "two", 1 :"one"} # key can not be a list

SyntaxError: invalid syntax (<ipython-input-12-d562bdbd54aa>, line 1)

In [18]:
third = {fruit :"banana", vegetable : spanich"}

SyntaxError: EOL while scanning string literal (<ipython-input-18-291a927ff0e5>, line 1)

In [19]:
third = dict(fruit = "banana", vegetable = "spanich") # key change to string type

third

{'fruit': 'banana', 'vegetable': 'spanich'}

In [24]:
four = dict(1 = "one", 2 = "two")
four

SyntaxError: keyword can't be an expression (<ipython-input-24-6c7b9d6d0412>, line 1)

In [23]:
four = dict(s = "one", t = "two")
four

{'s': 'one', 't': 'two'}

In [27]:
print(first_dict["two"])
print(first_dict[1])

2
one

In [30]:
city = "ıstanbul"
capital = "ankara"
cities = {1 : city, 2 : capital}
cities

{1: 'ıstanbul', 2: 'ankara'}

In [32]:
print(type(cities[2]))

<class 'str'>

In [36]:
cities ["pop"] = 1000
print (cities)
print (type("pop"))

{1: 'ıstanbul', 2: 'ankara', 'pop': 1000}
<class 'str'>

In [38]:
cities [1] = "ordu"
cities

{1: 'ordu', 2: 'ankara', 'pop': 1000, 'ıstanbul': 'ordu'}

In [47]:
family = {"name1" : "mehmet", 
          "name2" : "melahat",
          "name3" : "jesica"
         }
print(family)

{'name1': 'mehmet', 'name2': 'melahat', 'name3': 'jesica'}

In [49]:
family["name4"] ="tom"
print (family)

{'name1': 'mehmet', 'name2': 'melahat', 'name3': 'jesica', 'name4': 'tom'}

In [74]:
family = dict(name1 = "mehmet", 
          name2 = "melahat",
          name3 = "jesica", 
              name4 = "tom"
             )
print(family)

{'name1': 'mehmet', 'name2': 'melahat', 'name3': 'jesica', 'name4': 'tom'}

In [63]:
print (list(family.items()))
print (list(family.keys()))
print (list(family.values()))

[('name1', 'mehmet'), ('name2', 'melahat'), ('name3', 'jesica'), ('name4', 'tom')]
['name1', 'name2', 'name3', 'name4']
['mehmet', 'melahat', 'jesica', 'tom']

In [64]:
family.update({"name5" : "haydar"})
family

{'name1': 'mehmet',
 'name2': 'melahat',
 'name3': 'jesica',
 'name4': 'tom',
 'name5': 'haydar'}

In [85]:
family.update({"name1" : "ali",
               "name6" : "salih",
               "name7" : "jale"
              }
             )
family

{'name1': 'ali',
 'name3': 'jesica',
 'name4': 'tom',
 'name6': 'salih',
 'name7': 'jale'}

In [75]:
del family ["name2"]
print(family)

{'name1': 'mehmet', 'name3': 'jesica', 'name4': 'tom'}

In [83]:
liste = ["name2", "name3","name7"]
del family [liste]

TypeError: unhashable type: 'list'

In [84]:
del family ["name2"], family ["name3"], family["name4"]

KeyError: 'name2'

In [86]:
family

{'name1': 'ali',
 'name3': 'jesica',
 'name4': 'tom',
 'name6': 'salih',
 'name7': 'jale'}

In [87]:
"name1" in family

True

In [89]:
"name2" not in family

True

In [91]:
"ali" in family.values()

True

In [93]:
"Ali" in family.values() # case sensitivty

False

In [95]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [100]:
print(school_records["grades_info"]["teen"]["joseph"])
print(list(school_records["grades_info"]["teen"]["joseph"].items()))

{'coding': 80, 'math': 89}
[('coding', 80), ('math', 89)]

In [107]:
friends = {"friend1" : {"first" : "joseph", "last" : "smith"}, 
        "friend2" : {"first" : "marry" , "last": "son"},
         "friend3" : {"first" : "sergio", "last" : "taco"}
        }
print (friends)

{'friend1': {'first': 'joseph', 'last': 'smith'}, 'friend2': {'first': 'marry', 'last': 'son'}, 'friend3': {'first': 'sergio', 'last': 'taco'}}

In [113]:
favourite = {"friends" : {
                "friend1" : {"first" : "joseph", "last" : "smith"}, 
                "friend2" : {"first" : "marry" , "last": "son"},
                "friend3" : {"first" : "sergio", "last" : "taco"}
                        }, 
            "family" : {
                "family1" : {"first" : "susan", "last" : "smithson"}, 
                "family2" : {"first" : "sue" , "last": "sono"},
                "family3" : {"first" : "joan", "last" : "toe"}
                        }
            }
print (favourite)

{'friends': {'friend1': {'first': 'joseph', 'last': 'smith'}, 'friend2': {'first': 'marry', 'last': 'son'}, 'friend3': {'first': 'sergio', 'last': 'taco'}}, 'family': {'family1': {'first': 'susan', 'last': 'smithson'}, 'family2': {'first': 'sue', 'last': 'sono'}, 'family3': {'first': 'joan', 'last': 'toe'}}}

In [114]:
set_1 = {'red', 'blue', 'pink', 'red'}
colors = 'red', 'blue', 'pink', 'red'

In [129]:
print(set_1)

{'ced', 'blue', 'bed', 'bink'}

In [116]:
colors

('red', 'blue', 'pink', 'red')

In [119]:
set_1

{'blue', 'pink', 'red'}

In [120]:
set_1

{'blue', 'pink', 'red'}

In [122]:
set_2 = {'bed', 'blue', 'bink', 'ced'}
set_2

{'bed', 'bink', 'blue', 'ced'}

In [123]:
set_3 = {'bed', 'alue', 'bink', 'ced'}
set_3

{'alue', 'bed', 'bink', 'ced'}

In [124]:
letter = "a b c d e f g h i j k l m n o p r s t u v y z".split()

In [132]:
print(set(letter))

{'t', 'j', 'i', 'a', 'r', 'u', 'g', 'v', 'o', 'e', 'f', 'd', 'h', 'y', 'c', 'k', 'm', 'z', 'b', 'p', 's', 'n', 'l'}

In [131]:
print(set(letter)) # if kernel restart, it will be change

{'t', 'j', 'i', 'a', 'r', 'u', 'g', 'v', 'o', 'e', 'f', 'd', 'h', 'y', 'c', 'k', 'm', 'z', 'b', 'p', 's', 'n', 'l'}

In [133]:
ttest = {1, "g", 1.0}
print (len (ttest))

2

In [135]:
1 == 1.0

True

In [138]:
set() #empty set 
{} # empty dict not set

{}

In [139]:
type(3j)

complex

In [141]:
list(3j)

TypeError: 'complex' object is not iterable

In [1]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b

{'d', 'r', 'b'}
{'d', 'r', 'b'}

In [2]:
a = set('abracadabra')
b = set('alacazam')

print(b - a)  # same as '.difference()' method

{'l', 'm', 'z'}

In [3]:
print(a.union(b))

{'d', 'l', 'b', 'r', 'z', 'c', 'm', 'a'}

In [4]:
print(a | b)

{'d', 'l', 'b', 'r', 'z', 'c', 'm', 'a'}

In [5]:
print(len(set('listen to the voice of enlisted')))

13

In [6]:
set('listen to the voice of enlisted')

{' ', 'c', 'd', 'e', 'f', 'h', 'i', 'l', 'n', 'o', 's', 't', 'v'}

In [11]:
listem = list(range(0,10))
listem

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
listem.append(11)
listem

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 11]

In [17]:
listem.pop(-3)
listem

[0, 1, 2, 3, 4, 5, 6, 8, 9]

In [21]:
listem.insert(-1, 17)
listem

[0, 1, 2, 3, 4, 5, 6, 8, 17, 9]

In [23]:
listem.insert(1,17)
listem

[0, 17, 17, 1, 2, 3, 4, 5, 6, 8, 17, 9]

In [24]:
tuple()

()

In [27]:
my_tuple = (1,)
my_tuple

(1,)

In [28]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [29]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1,10)
print(numbers_10)

[10, 10, 30, 40, 50, 60, 70, 80, 90, 100]

In [30]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [31]:
type([123])

list

In [36]:
family_members = ['Meghan', 'Tom', 'Nicole', 'Tim']

In [37]:
tuple(family_members)

('Meghan', 'Tom', 'Nicole', 'Tim')