In [1]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [7]:
liste1 = list("ahmet")
liste1

['a', 'h', 'm', 'e', 't']

In [8]:
liste2 = ["ahmet"]
liste2

['ahmet']

In [9]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')

print(city)

['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [10]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [13]:
city[0] = ""
city

['', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [14]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()  # lists the items in alphabetical order
print(city)

['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [42]:
city = ['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
print(len(city))

6

In [16]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [ ]:
index(), del() and pop()

In [43]:
city.index("Istanbul", 1, 10)

1

In [22]:
del(city.index() = 0)
city

SyntaxError: invalid syntax (<ipython-input-22-e5b081d11550>, line 1)

In [36]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', ("Istanbul, Ankara"),'Addis Ababa']
city

['New York',
 'Stockholm',
 'Istanbul',
 'Seoul',
 'Sydney',
 'Istanbul, Ankara',
 'Addis Ababa']

In [38]:
city.pop()
city

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney']

In [1]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city_list = []
city_list.append(city) # we have created a nested list

print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [2]:
city_list[0]

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [3]:
city_list[0][2]

'Istanbul'

In [5]:
city_list[0][2][3]

'a'

In [4]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [15]:
b = list(range(11))

In [10]:
a = [range(11)]

In [13]:
a[0][2]

2

In [14]:
a

[range(0, 11)]

In [16]:
b[::2]

[0, 2, 4, 6, 8, 10]

In [17]:
print(len([[12, 34, 56]]))

1

In [18]:
print(len([["ahmet", 12, 34, 56]]))

1

In [22]:
x = ["ahmet"]
len(x)

1

In [28]:
example = "snow world"
print("%s" % example[4:7])

 wo

In [29]:
print(chr(ord('b')+1))

c

In [38]:
chr(97)

'a'

In [37]:
ord("+")

43

In [70]:
print(format("Welcome", "10s"), end = '#')
print(format(111, "4d"), end = '#')
print(format(924.656, "13.2f"))

Welcome   # 111#       924.66

In [57]:
print(format(111, "10"), end = '#')

       111#

In [69]:
print(format(924.656, "13.2f"))

       924.66

In [72]:
print('*', "abcdef".center(71), '*')

*                                  abcdef                                 *

In [89]:
print("xyyzxyzxzxyy".count("yy",1))

2

In [92]:
print("xyyzxyzxzxyy".endswith("xyy", 0, 2))

False

In [1]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [2]:
my_tuple

(1, 4, 3, 4, 5, 6, 7, 4)

In [7]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(7)

print(x)

2

In [9]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(17)

print(x)

0

In [11]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])

print(len(mix_value))

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
print(list(range(1,10,-1)))

[]

In [22]:
liste = list(range(1,10))
my_list = liste[::-1]
print(my_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
my = liste.sort(reverse=True)
print (my)

None

In [34]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)
cars

['Mitsubishi', 'Ford', 'BMW', 'VW']

In [39]:
cars = ['Ford', 'BMW', 'Volvo']

sortede= cars.sort(reverse=True)
sortede

In [40]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)

print(cars)

['Volvo', 'Ford', 'BMW']

In [48]:
sayı = list(range(1,11))
sayı.sort(reverse=True)
print(sayı)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
my_list = list(range(1,11))
my_list.sort(reverse=True)
print(my_list)

In [57]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [65]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(
    flowers[0][2],flowers[0][1][1],colors[1][0],colors[1][1][1]
)
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [63]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]

In [64]:
flowers[2]

IndexError: list index out of range

In [8]:
txt = "abckr trşuyışıçhl yşrpofok fçllgotıkf. dkefglşrşg"
txt1 = txt.split(" ")
for i in txt1:
  print(i.capitalize()+". ", end=" ")

Abckr.  Trşuyışıçhl.  Yşrpofok.  Fçllgotıkf..  Dkefglşrşg.

In [7]:
txt = "abckr trşuyışıçhl yşrpofok fçllgotıkf. dkefglşrşg"
txt1 = txt.split(" ")
txt1

['abckr', 'trşuyışıçhl', 'yşrpofok', 'fçllgotıkf.', 'dkefglşrşg']

In [13]:
txt.strip("abckr")

' trşuyışıçhl yşrpofok fçllgotıkf. dkefglşrşg'

In [10]:
t = 'abcd12312313abcd'
print(t.strip('123'))
print(t.strip('abcd'))

abcd12312313abcd
12312313

In [18]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [21]:
state_capitals = {'Arkansas': 'Little Rock'}
state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Virginia': 'Richmond'}

In [24]:
state_capitals = {'Arkansas': 'Little Rock'}
state_capitals.update({'Virginia' : 'Richmond'}) # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Virginia': 'Richmond'}

In [25]:
state_capitals = {'Arkansas': 'Little Rock'}
state_capitals.update({'Virginia' : 'California'}) # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Virginia': 'California'}

In [28]:
state_capitals = {'Arkansas': 'Little Rock'}
state_capitals.update({'Virginia' : 'Richmond'}) # adding a new item

del (state_capitals["Arkansas"])
(state_capitals["Richmond"])
print(state_capitals)

KeyError: 'Richmond'

In [31]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,}

print('pi' in dict_by_dict) 
print(40 not in dict_by_dict)
print('number' not in dict_by_dict)

True
True
False

In [32]:
print(dict_by_dict["planet"])

neptun

In [33]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

{'rose', 'orchid', 'violet', 'carnation'}
['rose', 'orchid', 'violet', 'carnation']