In [1]:
string_1 = 'I quit smoking'

new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [2]:
liste1 = list("ahmet")
liste1

['a', 'h', 'm', 'e', 't']

In [3]:
liste2 = ["ahmet"]
liste2

['ahmet']

In [4]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')

print(city)

['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [5]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.remove('London')
print(city)  # we have deleted 'London'

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [6]:
city[0] = ""
city

['', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [7]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.sort()  # lists the items in alphabetical order
print(city)

['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [8]:
city = ['Addis Ababa', 'Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']
print(len(city))

6

In [9]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

In [10]:
city.index("Istanbul", 1, 10)

1

In [11]:
del(city[0])
city

['Istanbul', 'New York', 'Seoul', 'Stockholm', 'Sydney']

In [12]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', ("Istanbul, Ankara"),'Addis Ababa']
city

['New York',
 'Stockholm',
 'Istanbul',
 'Seoul',
 'Sydney',
 'Istanbul, Ankara',
 'Addis Ababa']

In [13]:
city.pop()
city

['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Istanbul, Ankara']

In [14]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

city_list = []
city_list.append(city) # we have created a nested list

print(city_list)

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [15]:
city_list[0]

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [16]:
city_list[0][2]

'Istanbul'

In [17]:
city_list[0][2][3]

'a'

In [18]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']

fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list[0][2][7])

l

In [21]:
print(len([["ahmet", 12, 34, 56]]))

1

In [22]:
example = "snow world"
print("%s" % example[4:7])

 wo

In [23]:
print(chr(ord('b')+1))

c

In [31]:
chr(97)

'a'

In [32]:
ord("+")

43

In [24]:
print(format("Welcome", "10s"), end = '#')
print(format(111, "4d"), end = '#')
print(format(924.656, "13.2f"))

Welcome   # 111#       924.66

In [25]:
print(format(111, "10"), end = '#')

       111#

In [26]:
print(format(924.656, "13.2f"))

       924.66

In [27]:
print('*', "abcdef".center(71), '*')

*                                  abcdef                                 *

In [28]:
print("xyyzxyzxzxyy".count("yy",1))

2

In [29]:
print("xyyzxyzxzxyy".endswith("xyy", 0, 3))

True

In [30]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]

my_tuple = tuple(my_list)

print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [31]:
my_tuple

(1, 4, 3, 4, 5, 6, 7, 4)

In [32]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(7)

print(x)

2

In [33]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(7)

print(x)

2

In [34]:
liste = list(range(1,10))
my_list = liste[::-1]
print(my_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [35]:
# A function that returns the length of the value:
def myFunc(e):
      return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)
cars

['Mitsubishi', 'Ford', 'BMW', 'VW']

In [50]:
cars = ['Ford', 'BMW', 'Volvo']

sortede = cars.sort(reverse=True)
sortede

In [36]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)

print(cars)

['Volvo', 'Ford', 'BMW']

In [37]:
sayı = list(range(1,11))
sayı.sort(reverse=True)
print(sayı)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [38]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [39]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(
    flowers[0][2],flowers[0][1][1],colors[1][0],colors[1][1][1]
)
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [40]:
txt = "abckr trşuyışıçhl yşrpofok fçllgotıkf. dkefglşrşg"
txt1 = txt.split(" ")
for i in txt1:
      print(i.capitalize()+". ", end=" ")

Abckr.  Trşuyışıçhl.  Yşrpofok.  Fçllgotıkf..  Dkefglşrşg.

In [41]:
txt = "abckr trşuyışıçhl yşrpofok fçllgotıkf. dkefglşrşg"
txt1 = txt.split(" ")
txt1

['abckr', 'trşuyışıçhl', 'yşrpofok', 'fçllgotıkf.', 'dkefglşrşg']

In [42]:
txt.strip("abckr")

' trşuyışıçhl yşrpofok fçllgotıkf. dkefglşrşg'

In [43]:
t = 'abcd12312313abcd'
print(t.strip('123'))
print(t.strip('abcd'))

abcd12312313abcd
12312313

In [44]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [45]:
state_capitals = {'Arkansas': 'Little Rock'}
state_capitals['Virginia'] = 'Richmond' # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Virginia': 'Richmond'}

In [46]:
state_capitals = {'Arkansas': 'Little Rock'}
state_capitals.update({'Virginia' : 'Richmond'}) # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Virginia': 'Richmond'}

In [25]:
state_capitals = {'Arkansas': 'Little Rock'}
state_capitals.update({'Virginia' : 'California'}) # adding a new item

print(state_capitals)

{'Arkansas': 'Little Rock', 'Virginia': 'California'}

In [48]:
state_capitals = {'Arkansas': 'Little Rock'}
state_capitals.update({'Virginia' : 'Richmond'}) # adding a new item

del (state_capitals["Arkansas"])

print(state_capitals)

{'Virginia': 'Richmond'}

In [49]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,}

print('pi' in dict_by_dict) 
print(40 not in dict_by_dict)
print('number' not in dict_by_dict)

True
True
False

In [50]:
print(dict_by_dict["planet"])

neptun

In [51]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)
flowerlist = list(flowerset)

print(flowerset) 
print(flowerlist)

{'violet', 'orchid', 'carnation', 'rose'}
['violet', 'orchid', 'carnation', 'rose']

In [52]:
print(0xD + 0xB + 0xC)

36

In [53]:
print(r"hello/n")

hello/n

In [14]:
print("new" "line")

newline

In [54]:
print("new" "line" "end" 3)

SyntaxError: invalid syntax (<ipython-input-54-693762d2e4e6>, line 1)

In [55]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flower_list[1:] = ['rose']

flower_list

['rose', 'rose']

In [56]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flower_list[1:] = 'rose'

flower_list

['rose', 'r', 'o', 's', 'e']

In [57]:
first_dict = {1: "one", "two" :2, False : [1, 2, 3]}

In [58]:
first_dict

{1: 'one', 'two': 2, False: [1, 2, 3]}

In [59]:
first_dict["two"]

2

In [60]:
second {[1, 2, 3] : "two", 1 :"one"} # key can not be a list

SyntaxError: invalid syntax (<ipython-input-60-66d4ded58147>, line 1)

In [61]:
third = {fruit :"banana", vegetable : spanich"}

SyntaxError: EOL while scanning string literal (<ipython-input-61-291a927ff0e5>, line 1)

In [62]:
third = dict(fruit = "banana", vegetable = "spanich") # key change to string type

third

{'fruit': 'banana', 'vegetable': 'spanich'}

In [63]:
four = dict(1 = "one", 2 = "two")
four

SyntaxError: keyword can't be an expression (<ipython-input-63-6c7b9d6d0412>, line 1)

In [64]:
four = dict(s = "one", t = "two")
four

{'s': 'one', 't': 'two'}

In [65]:
print(first_dict["two"])
print(first_dict[1])

2
one

In [66]:
city = "ıstanbul"
capital = "ankara"
cities = {1 : city, 2 : capital}
cities

{1: 'ıstanbul', 2: 'ankara'}

In [67]:
print(type(cities[2]))

<class 'str'>

In [36]:
cities ["pop"] = 1000
print (cities)
print (type("pop"))

{1: 'ıstanbul', 2: 'ankara', 'pop': 1000}
<class 'str'>

In [68]:
cities [1] = "ordu"
cities

{1: 'ordu', 2: 'ankara'}

In [69]:
family = {"name1" : "mehmet", 
          "name2" : "melahat",
          "name3" : "jesica"
         }
print(family)

{'name1': 'mehmet', 'name2': 'melahat', 'name3': 'jesica'}

In [70]:
family["name4"] ="tom"
print (family)

{'name1': 'mehmet', 'name2': 'melahat', 'name3': 'jesica', 'name4': 'tom'}

In [71]:
family = dict(name1 = "mehmet", 
          name2 = "melahat",
          name3 = "jesica", 
              name4 = "tom"
             )
print(family)

{'name1': 'mehmet', 'name2': 'melahat', 'name3': 'jesica', 'name4': 'tom'}

In [72]:
print (list(family.items()))
print (list(family.keys()))
print (list(family.values()))

[('name1', 'mehmet'), ('name2', 'melahat'), ('name3', 'jesica'), ('name4', 'tom')]
['name1', 'name2', 'name3', 'name4']
['mehmet', 'melahat', 'jesica', 'tom']

In [73]:
family.update({"name5" : "haydar"})
family

{'name1': 'mehmet',
 'name2': 'melahat',
 'name3': 'jesica',
 'name4': 'tom',
 'name5': 'haydar'}

In [74]:
family.update({"name1" : "ali",
               "name6" : "salih",
               "name7" : "jale"
              }
             )
family

{'name1': 'ali',
 'name2': 'melahat',
 'name3': 'jesica',
 'name4': 'tom',
 'name5': 'haydar',
 'name6': 'salih',
 'name7': 'jale'}

In [75]:
del family ["name2"]
print(family)

{'name1': 'mehmet', 'name3': 'jesica', 'name4': 'tom'}

In [75]:
liste = ["name2", "name3","name7"]
del family [liste]

TypeError: unhashable type: 'list'

In [76]:
del family ["name2"], family ["name3"], family["name4"]

In [77]:
family

{'name1': 'ali', 'name5': 'haydar', 'name6': 'salih', 'name7': 'jale'}

In [78]:
"name1" in family

True

In [79]:
"name2" not in family

True

In [80]:
"ali" in family.values()

True

In [81]:
"Ali" in family.values() # case sensitivty

False

In [82]:
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [83]:
print(school_records["grades_info"]["teen"]["joseph"])
print(list(school_records["grades_info"]["teen"]["joseph"].items()))

{'coding': 80, 'math': 89}
[('coding', 80), ('math', 89)]

In [84]:
friends = {"friend1" : {"first" : "joseph", "last" : "smith"}, 
        "friend2" : {"first" : "marry" , "last": "son"},
         "friend3" : {"first" : "sergio", "last" : "taco"}
        }
print (friends)

{'friend1': {'first': 'joseph', 'last': 'smith'}, 'friend2': {'first': 'marry', 'last': 'son'}, 'friend3': {'first': 'sergio', 'last': 'taco'}}

In [85]:
favourite = {"friends" : {
                "friend1" : {"first" : "joseph", "last" : "smith"}, 
                "friend2" : {"first" : "marry" , "last": "son"},
                "friend3" : {"first" : "sergio", "last" : "taco"}
                        }, 
            "family" : {
                "family1" : {"first" : "susan", "last" : "smithson"}, 
                "family2" : {"first" : "sue" , "last": "sono"},
                "family3" : {"first" : "joan", "last" : "toe"}
                        }
            }
print (favourite)

{'friends': {'friend1': {'first': 'joseph', 'last': 'smith'}, 'friend2': {'first': 'marry', 'last': 'son'}, 'friend3': {'first': 'sergio', 'last': 'taco'}}, 'family': {'family1': {'first': 'susan', 'last': 'smithson'}, 'family2': {'first': 'sue', 'last': 'sono'}, 'family3': {'first': 'joan', 'last': 'toe'}}}

In [86]:
set_1 = {'red', 'blue', 'pink', 'red'}
colors = 'red', 'blue', 'pink', 'red'

In [87]:
print(set_1)

{'blue', 'red', 'pink'}

In [88]:
colors

('red', 'blue', 'pink', 'red')

In [89]:
set_1

{'blue', 'pink', 'red'}

In [90]:
set_1

{'blue', 'pink', 'red'}

In [91]:
set_2 = {'bed', 'blue', 'bink', 'ced'}
set_2

{'bed', 'bink', 'blue', 'ced'}

In [92]:
set_3 = {'bed', 'alue', 'bink', 'ced'}
set_3

{'alue', 'bed', 'bink', 'ced'}

In [93]:
letter = "a b c d e f g h i j k l m n o p r s t u v y z".split()

In [94]:
print(set(letter))

{'t', 'o', 'j', 'y', 'k', 'e', 'r', 'a', 'n', 's', 'f', 'v', 'g', 'i', 'p', 'b', 'h', 'm', 'l', 'u', 'd', 'c', 'z'}

In [95]:
print(set(letter)) # if kernel restart, it will be change

{'t', 'o', 'j', 'y', 'k', 'e', 'r', 'a', 'n', 's', 'f', 'v', 'g', 'i', 'p', 'b', 'h', 'm', 'l', 'u', 'd', 'c', 'z'}

In [96]:
ttest = {1, "g", 1.0}
print (len (ttest))

2

In [97]:
1 == 1.0

True

In [98]:
set() #empty set 
{} # empty dict not set

{}

In [99]:
type(3j)

complex

In [101]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b

{'r', 'b', 'd'}
{'r', 'b', 'd'}

In [102]:
a = set('abracadabra')
b = set('alacazam')

print(b - a)  # same as '.difference()' method

{'m', 'z', 'l'}

In [103]:
print(a.union(b))

{'m', 'r', 'l', 'a', 'd', 'z', 'c', 'b'}

In [104]:
print(a | b)

{'m', 'r', 'l', 'a', 'd', 'z', 'c', 'b'}

In [105]:
print(len(set('listen to the voice of enlisted')))

13

In [106]:
set('listen to the voice of enlisted')

{' ', 'c', 'd', 'e', 'f', 'h', 'i', 'l', 'n', 'o', 's', 't', 'v'}

In [107]:
listem = list(range(0,10))
listem

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
listem.append(11)
listem

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]

In [109]:
listem.pop(-3)
listem

[0, 1, 2, 3, 4, 5, 6, 7, 9, 11]

In [110]:
listem.insert(-1, 17)
listem

[0, 1, 2, 3, 4, 5, 6, 7, 9, 17, 11]

In [111]:
listem.insert(1,17)
listem

[0, 17, 1, 2, 3, 4, 5, 6, 7, 9, 17, 11]

In [112]:
tuple()

()

In [113]:
my_tuple = (1,)
my_tuple

(1,)

In [114]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [115]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1,10)
print(numbers_10)

[10, 10, 30, 40, 50, 60, 70, 80, 90, 100]

In [116]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [117]:
type([123])

list

In [118]:
family_members = ['Meghan', 'Tom', 'Nicole', 'Tim']

In [119]:
tuple(family_members)

('Meghan', 'Tom', 'Nicole', 'Tim')

In [120]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
city = ["Tokyo", "Kiev", "Mekke", "Istanbul", "Washington"]

In [121]:
print(zip(text, numbers))

<zip object at 0x000001709F416288>

In [122]:
list(zip(text, numbers))

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [123]:
print(* zip(text, numbers))

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [124]:
num = range(1, 11)
odds = []
evens = []
for i in range(1, 11):
    if i % 2 == 0:
        evens.append(i)
    else:
        odds.append(i)
print(odds, evens, sep = "\n")

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [125]:
evens = [i for i in range(10) if i % 2 == 0]
odds = [i for i in range(10) if i % 2 != 0]
print(odds, evens, sep = "\n")

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

In [126]:
example = [11, 2, 24, 61, 48, 33, 3]
odds = []
evens = []
for i in range(1, 11):
    if i % 2 == 0:
        evens.append(i)
    else:
        odds.append(i)
print("The number of even numbers :", len(evens))
print("The number of odd numbers :", len(odds))

The number of even numbers : 5
The number of odd numbers : 5

In [127]:
example = [11, 2, 24, 61, 48, 33, 3]
print(
    "The number of even numbers :", 
      len([i for i in example if i % 2 == 0])
) 

print(
    "The number of odd numbers :", 
      len([i for i in example if i % 2 != 0])
)

The number of even numbers : 3
The number of odd numbers : 4

In [128]:
for i in range(1,10):
    print(str (i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [129]:
sum_num = 0
for i in range(1, 75):
    sum_num += i
print(sum_num)

2775

In [130]:
sum(range(1,75))

2775

In [131]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]
for i in names:
    for j in mood:
        print(i + " is " + j)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [132]:
print([x ** 2 for x in range(10) if x % 2 != 0])

[1, 9, 25, 49, 81]

In [133]:
my_list = [1,2,3,4,5,6]
new_list = []
[new_list.append(x ** 2) for x in my_list if x %2 != 0]
print(new_list)

[1, 9, 25]

In [134]:
a = 5 if 2 > 1 else 0
print(a)

5

In [135]:
print(1 if 2 > 4 else 0)
print(1 if 2 < 4 else 0)

0
1

In [136]:
even = [i ** 2 for i in range(10) if not i % 2]
odd = [i ** 2 for i in range(10) if i % 2]
even + [["full"]]+ odd

[0, 4, 16, 36, 64, ['full'], 1, 9, 25, 49, 81]

In [137]:
generator = (i ** 2 for i in range(4))
generator

In [138]:
# print(*generator)
#list(generator)
# print((next(generator))) 
# for loop arkasında """"""next"""""" fonksiyonu çalışmaktadır
for i in generator:
    print(i)

0
1
4
9

In [140]:
line = 10
print()
for i in range(line):
    print(' '*16+' '*19+'*'*12+' '*7+'*'*12+' '*7+'*'*(line-1-i)+'*'*(3*i+1))
for i in range(line*2-7):
    print(' '*(line+5-i)+'*'*(i+1)+'*'*12+' '*7+'*'*12+' '*7+'*'*12+' '*7+'*'*12)
for i in range(5):
    print(' '*16+'*'*19+'*'*19+'*'*12+' '*7+'*'*12)

                                   ************       ************       **********
                                   ************       ************       ************
                                   ************       ************       **************
                                   ************       ************       ****************
                                   ************       ************       ******************
                                   ************       ************       ********************
                                   ************       ************       **********************
                                   ************       ************       ************************
                                   ************       ************       **************************
                                   ************       ************       ****************************
               *************       ************       ************       ************
              **************       ************       ************       ************
             ***************       ************       ************       ************
            ****************       ************       ************       ************
           *****************       ************       ************       ************
          ******************       ************       ************       ************
         *******************       ************       ************       ************
        ********************       ************       ************       ************
       *********************       ************       ************       ************
      **********************       ************       ************       ************
     ***********************       ************       ************       ************
    ************************       ************       ************       ************
   *************************       ************       ************       ************
                **************************************************       ************
                **************************************************       ************
                **************************************************       ************
                **************************************************       ************
                **************************************************       ************