In [4]:
pwd

'C:\\Users\\BAHAR\\UDEMY\\veri_manipulasyonu\\reading_data'

In [1]:
import pandas as pd

In [13]:
df=pd.read_csv('ornekcsv.csv', sep=';')
df.head(1)

    a   b    c
0  78  12  1.0

In [18]:
xs= pd.read_excel('ornekx.xlsx')
xs.head(2)

    a   b    c
0  78  12  1.0
1  78  12  2.0

In [23]:
tx= pd.read_csv('duz_metin.txt')
tx.head(3)

   1 2
0  2 2
1  3 2
2  4 2