# mehmetfatihdata

In [1]:
import pandas as pd

## SORU 1

**Rank değişkenini kategorik olarak değerlendirmenin avantaj ve dezavantajlarını göz önünde bulundurun. Argümanlarınızı mentorunuzla tartışın.

In [2]:
youtube = pd.read_csv("youtube.csv")
youtube.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [3]:
youtube.Rank.nunique()

5000

Rank değişkeni, sürekli ve aralık değişkenidir. Her ne kadar sayısal değere dönüştürerek analiz etmenin kolay olacağı bir veri kümesi olarak gözükse de bir oran içermediğinden ve diğer kolonlardaki verilerle uyuşmadığından kulanmanın her koşulda faydalı olmayacağı kanaatindeyim. Kategorik(Ordinal Değişken) olarak da kullanılabilir bir değişkendir. Br sıralama çıkarması açısından faydalı iken, iki değişken arasında bir oran bulunmadığından analize uygun değildir.

## SORU 2

**Aşağıdaki değişkenlerin türlerini belirleyin:

Yaş : Sürekli ve Oran Değişkeni
Maaş: Sürekli ve Oran Değişkeni
Gelir:Sürekli ve Oran Değişkeni
Müşteri türü:Kategorik ve Nominal Değişken
Hisse senedi fiyatı:Sürekli ve Oran Değişkeni

ZAMAN AYIRDIĞINIZ İÇİN TEŞEKKÜRLER.